$black: #000;
$white: #fff;
$primary: #5BEB67;
$secondary: #EBC567;
$red: #EB5B8E;
$green: #74EB7E;
$background-color: #8AA5EB;

$main-font-family: 'Roboto',
sans-serif;
$second-font-family: 'Pattaya',
sans-serif;

$extra-small: 12px;
$small: 16px;
$medium: 20px;
$large: 26px;
$extra-large: 40px;
$enormous: 60px;