@import url('https://fonts.googleapis.com/css2?family=Pattaya&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

@import '../../styles/theme.scss';

// font-family: 'Pattaya', sans-serif;
// font-family: 'Roboto', sans-serif;

:global(*) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font-family;
    color: $black;
}

:global(.App) {
    position: relative;
    background-color: $background-color;
    min-height: 100vh;
    display: grid;
    // flex-direction: column;
    // align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto;
    column-gap: 10px;
    padding: 0 10px;
}