@import '../../styles/theme.scss';

.header {
    // background-color: $background-color;
    width: 100%;
    height: 50px;
    padding: 4px;
    grid-row: 1 / 1;
    grid-column: 1 / -1;

    h1 {
        font-family: $second-font-family;
        font-size: $large;
        text-align: center;
    }
}