@import '../../styles/theme.scss';

.header {
    background-color: $background-color;
    width: 100vw;
    height: 50px;
    font-family: $second-font-family;
    font-size: $large;
    text-align: center;
    padding: 4px;
}