@import '../../styles/theme.scss';

.resultCard {
    background-color: $secondary;
    margin-bottom: 10px;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    max-height: 100px;
    width: auto;
    margin: 4px;
}